@tda416_color: #ff337e;

body#course {
  background: #fafafa;
  background: url(../assets/pinstripe.png);

  h1 {
    color: #999;
    text-shadow: #fff 0 1px 0, #000 0 -1px 0;
    font: 40px Tahoma, Helvetica, Arial, Sans-Serif;
    display: inline-block;
    margin-right: 15px;
  }

  a {
    padding: 2px 4px;
  }
  a:focus, a:hover {
    color: #fff;
    background: lighten(@tda416_color, 10%);
    outline: 0;
    text-decoration: none;
  }

  pre {
    margin: 15px 0;
    box-shadow: 0 0 5px #ccc;
    border: none;
  }

  .form-control {
    background: #eee;
    border: none;
    font-weight: bold;
    outline: none;
    border-radius: 0;
    box-shadow: 3px 3px 0 lighten(@tda416_color, 25%);
  }

  .form-control:focus {
    box-shadow: 3px 3px 0 lighten(@tda416_color, 10%);
  }

  .extra {
    background: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 5px #ddd;
  }

  /* BUTTONS */

  .btn, .btn:focus {
    background-image: none;
    outline: none;
    border-radius: 0;
    border: 0;
    box-shadow: 3px 3px 0 #aaa;
    text-shadow: none;
  }

  .btn:focus {
    font-weight: bold;
  }

  .btn:active {
    box-shadow: 1px 1px 0 #aaa;
    position: relative;
    top: 2px;
    left: 2px;
  }

  .btn-default, .btn-default:focus {
    background-color: #ccc;
    color: white;
  }

  .btn-primary, .btn-primary:focus {
    background-color: lighten(@tda416_color, 10%);
  }

  .btn-primary:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, darken(lighten(@tda416_color, 10%), 10%)), color-stop(1, lighten(@tda416_color, 10%)));
  }

  .btn-default:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bbb), color-stop(1, #ccc));
    color: white;
  }

  /* NAVBAR */

  .navbar {
    box-shadow: 0 2px 10px #888;
    background: @tda416_color;
    border: none;

    .container {
      position: relative;
      height: 100%;
    }

    .navbar-collapse {
      background: @tda416_color;
    }

    .navbar-header {
      height: 100%;
    }

    .navbar-brand {
      position:absolute;
      height: 100%;
      white-space:nowrap;

      a.go-home {
        padding: 19px 3px 15px 3px;
        color: #fff;
        font-size: 14px;
      }

      a.go-home:focus {
        padding-bottom: 13px;
        border-bottom: solid 2px #fff;
        outline: 0;
        background: rgba(0, 0, 0, 0.05);
      }

      a.brand {
        padding: 15px 10px;
        height: 100%;
        color: white;
        font-weight: bold;

        img {
          display: inline-block;
          height: 30px;
          margin-right: 10px;
          margin-top: -8px;
        }
      }

      a.brand:hover, a.brand:focus, a.go-home:hover {
        background: rgba(0, 0, 0, 0.05);
        color: white;
        text-decoration: none;
      }

      a.brand:focus {
        padding-bottom: 12px;
        border-bottom: solid 2px #fff;
        outline: 0;
      }
    }

    #unread-news-badge {
      margin-left: 5px;
      background: white;
      color: #777;
      padding: 2px 7px !important;
    }

    .navbar-toggle {
      background: white;
      position: absolute;
      right: 0;
      float: none;
    }

    .navbar-nav li a {
      color: white;
      font-weight: bold;
      padding: 15px 10px;
    }

    .navbar-nav li a:hover {
      background: rgba(0, 0, 0, 0.05);
      color: white;
    }

    .navbar-nav li a:focus {
      font-size: 16px;
      background: rgba(0, 0, 0, 0.05);
      color: #fff;
      padding-bottom: 13px;
      border-bottom: solid 2px #fff;
      outline: 0;
    }
  }

  .page-container {
    padding: 25px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #ddd;
    background: white;
  }

  /* NEW NOTE MODAL */

  #new-note-modal {
    overflow-y: auto;

    .modal-content {
      padding: 20px;
      border-radius: 0;
    }

    .modal-footer {
      padding-left: 0;
    }

    textarea {
      resize: vertical;
    }
  }

  /* NOTE */

  .note {
    position: relative;
    padding: 20px;
    padding-left: 45px;
    box-shadow: 0 0 5px #ddd;
    background: white;
    margin: 20px 0;
    height: 100%;

    .remove-note-btn {
      position: absolute;
      top: 0;
      right: 0;
      color: #bbb;
      cursor: pointer;
      padding: 10px;
    }

    .remove-note-btn:hover {
      color: @tda416_color;
    }

    .date {
      position: absolute;
      top: 0;
      left: 0;
      background: lighten(@tda416_color, 15%);
      height: 100%;
      width: 27px;
      padding-top: 10px;

      span {
        position: absolute;
        top: 90px;
        right: -86px;
        font-size: 12px;
        font-weight: bold;
        width: 200px;
        text-align: right;
        padding: 5px;
        color: white;
        display: block;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
      }
    }
  }
}