@width: 280px;
@first: #00C7B3;
@smurf: #31b6f3;
@second: #fff;

#home {
  background: @first;

  .button {
    border: solid 1px @second;
    background: transparent;
    outline: 0;
    border-radius: 15px;
    color: @second;
    text-align: center;
    padding: 7px 20px;
    cursor: pointer;
  }

  .button:hover {
    background: @second;
    color: @first;
    transition: background-color 200ms linear, color 200ms linear;
  }

  h1, p {
    font-family: Roboto;
    font-weight: 300;
  }

  p {
    font-size: 17px;
  }

  #sidebar {
    position: absolute;
    z-index: 100;
    width: @width;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    height: 100%;
    box-shadow: 0 0 5px #777;

    button {
      margin: 0px 0 20px 0;
      border-color: @first;
      color: @first;
    }

    button:hover {
      background: @first;
      color: #fff;
    }

    p {
      margin-bottom: 15px;
    }

    h3 {
      font-weight: 300;
      font-style: italic;
    }
  }

  #main {
    position: relative;
    background: @first;
    height: 100%;
    margin-left: @width;

    #search {
      font-size: 70px;
      width: 100%;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      border: none;
      outline: none;
      margin-bottom: 40px;
      margin-top: 80px;
      text-align: center;
      text-transform: uppercase;
      font-family: Roboto;
    }

    #errors {
      position: absolute;
      top: 220px;
      width: 100%;
      color: #000;
      text-align: center;
      font-size: 45px;
      display: none;
    }

    #loading {
      position: absolute;
      top: 220px;
      left: 50%;
      margin-left: -80px;
      display: none;
    }

    #search::-webkit-input-placeholder {
      /* WebKit browsers */
      color: rgba(255, 255, 255, 0.5);
    }

    .course-cont {
      margin-top: 200px;
      text-align: center;
      left: 0;

      #recent {
        color: #fff;
        font-size: 20px;
      }

      .course {
        padding: 1px 20px;
        max-width: 400px;
        margin: 10px auto;
      }

      .course.disabled {
        opacity:0.5;
      }

      .course.disabled:hover {
        background: transparent;
        color: #fff;
        cursor: default;
      }

      h3 {
        font-weight: 300;
        margin-bottom: 0px;
      }

      h1 {
        margin-top: 10px;
      }

      p {
        padding-bottom: 10px;
      }
    }
  }

  .easter {
    display: none;
    text-align: center;
  }

  .easter img {
    margin-top: 50px;
    border-radius: 250px;
    box-shadow: 0 0 10px #888;
    width: 400px;
    height: 400px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .easter p {
    color: #fff;
    font-size: 35px;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    font-style: italic;
    font-family: roboto;
    font-weight: 300;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
  }

  @media (max-width: 800px) {

    #sidebar {
      display: none;
    }

    #main {
      padding-top: 80px;
      margin: 0;

      #loading, #errors {
        top: 180px;
      }

      #errors {
        font-size: 30px;
      }

      .course-cont {
        .course {
          max-width: 250px;
        }
      }

      #search {
        font-size: 40px;
        margin-top: 0;
      }
    }
  }

  @media (max-height: 650px) {

    #main {
      margin: 0;
      .course-cont {
        margin-top: 80px !important;
      }
    }

    #sidebar {
      display: none;
    }
  }
}